body {
    background-color: hsl(0, 0%, 0%);
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    color: #ffffff;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New';
}

h2 {
    background-color: hsl(216, 48%, 24%);
    color: hsl(0, 0%, 100%);
    font-size: 200%;
    text-decoration: underline;
    font-family: 'Lucida Sans';
}

h3 {
    background-color: hsl(251, 93%, 26%);
    color: hsl(236, 73%, 74%);
    font-size: 130%;
    font-style: italic;
}

p {
    background-color: hsl(214, 90%, 69%);
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS';
}

em {
    color: hsl(244, 52%, 19%);
    font-style: normal;
    font-weight: bolder;
}

strong {
    color: hsl(244, 52%, 19%);
    font-weight: normal;
    font-weight: 900;
}

address {
    background-color: white;
    font-weight: bold;
    text-align: right;
}